@charset "UTF-8";

/*------------reset----------------*/
html{color:#000;background:#fff}
blockquote,body,code,dd,div,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,input,legend,li,ol,p,pre,td,textarea,th,ul{margin:0;padding:0}
fieldset,img{border:0}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:400}
ol,ul{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:400}
q:after,q:before{content:''}
abbr,acronym{border:0;font-variant:normal}
input,select,textarea{font-family:inherit;font-size:inherit;font-weight:inherit}
legend{color:#000}
a{text-decoration:none}
:focus{outline:0}
[class*="col-"]{float:left}
*,*:before,*:after{box-sizing:border-box;-webkit-tap-highlight-color:rgba(0,0,0,0)}

/*------------global----------------*/
html,body{height:100%}
html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;-webkit-font-smoothing:antialiased;font-size:16px;background-color:#f5eeeb}
body{margin:0;padding:0;font-family:'Montserrat',sans-serif;letter-spacing:.075em;font-weight:400;line-height:1.2;color:#000;}
.container{margin-right:auto;margin-left:auto}
.row{margin-right:-15px;margin-left:-15px}
.container:before,.container:after,.row:before,.row:after{display:table;content:" "}
.container:after,.row:after{clear:both}
.showDesktop{display:block!important}
.showMobile{display:none!important}
.mainwrapper{width:100%;margin:0 auto;clear:both}
.container{width:100%;margin:0 auto}
.resimg{text-align:center;margin:0 auto}
.resimg img,.resimg picture{width:100%;height:auto;display:block;margin:0 auto}
.hide{display:none!important}
.show{display:block!important}
.clear{clear:both}

/* ------------radio selection------------- */
#lmprimer .custom-radio .col-box>div{margin-left:15px;margin-right:15px;margin-top:15px;margin-bottom:15px}
#lmprimer .custom-radio [type="radio"]:checked,#lmprimer .custom-radio [type="radio"]:not(:checked){position:absolute;left:-9999px}
#lmprimer .custom-radio [type="radio"]:checked + label,#lmprimer .custom-radio [type="radio"]:not(:checked) + label{position:relative;cursor:pointer;display:inline-block;color:#000;width:100%;font-family:'Montserrat',sans-serif;font-weight:600;text-transform:uppercase;font-size:14px;text-align:center}
#lmprimer .custom-radio [type="radio"]:checked + label{-webkit-box-shadow:5px 5px 6px 0 rgba(0,0,0,.35);-moz-box-shadow:5px 5px 6px 0 rgba(0,0,0,.35);box-shadow:5px 5px 6px 0 rgba(0,0,0,.35);transition:all 0.25s ease;-moz-transition:all 0.25s ease;-webkit-transition:all 0.25s ease;-ms-transition:all 0.25s ease}
#lmprimer .custom-radio [type="radio"]:checked + label:before,#lmprimer .custom-radio [type="radio"]:not(:checked) + label:before{content:'';position:absolute;left:0;top:0;opacity:0}
#lmprimer .custom-radio [type="radio"]:checked + label:after,#lmprimer .custom-radio [type="radio"]:not(:checked) + label:after{transition:all 0.25s ease;-moz-transition:all 0.25s ease;-webkit-transition:all 0.25s ease;-ms-transition:all 0.25s ease}
#lmprimer .custom-radio [type="radio"]:not(:checked) + label:after{opacity:0;-webkit-transform:scale(0);transform:scale(0)}
#lmprimer .custom-radio [type="radio"]:checked + label:after{opacity:1;-webkit-transform:scale(1);transform:scale(1)}

/*-------------button---------------*/
#lmprimer .lmbtn{display:inline-block;border:1px solid #000;height:46px;line-height:46px;width:100%;text-align:center;font-size:13px;text-transform:uppercase;color:#fff;font-family:'Montserrat',sans-serif;padding:0;background:#000;border-radius:0;font-weight:600;cursor:pointer;transition:all .25s ease-in-out 0s;-moz-transition:all .25s ease-in-out 0s;-webkit-transition:all .25s ease-in-out 0s;-ms-transition:all .25s ease-in-out 0s}
#lmprimer .lmbtn:hover{transition:all .25s ease-in-out 0s;-moz-transition:all .25s ease-in-out 0s;-webkit-transition:all .25s ease-in-out 0s;-ms-transition:all .25s ease-in-out 0s}
#lmprimer .lmbtn.black:hover{background:#fff;color:#000}
#lmprimer .lmbtn.empty{border:1px solid #000;background:none;color:#000}
#lmprimer .lmbtn.empty:hover{border:1px solid #000;background:#000;color:#fff}
#lmprimer .lmbtn.txtlink{font-size:10px;border:none;color:#000;background:none;position:absolute;max-width:0;left:0;padding-left:40px}
#lmprimer .lmbtn.txtlink:before{content:'';background-image:url(../images/arrow-left-1x.png);background-repeat:no-repeat;background-position:0 center;width:30px;height:13px;position:absolute;left:0;top:15px}
#lmprimer .btn-container{margin:25px auto;position:relative}
#lmprimer .btn-container>a{max-width:320px;display:block;margin:0 auto}

/*-------------pagination---------------*/
#lmprimer .pagination{display:block;width:100%;text-align:center;position:absolute;top:80px;z-index:2}
#lmprimer .pagination>ul{list-style-type:none;background-color:#f5eeeb;padding:0;display:inline-block}
#lmprimer .pagination>ul>li{display:inline-block;padding:10px 10px;font-family:'Montserrat',sans-serif;font-weight:400;color:#000;font-size:11px;position:relative;float:left;line-height:16px}
#lmprimer .pagination>ul>li:nth-child(1),#lmprimer .pagination>ul>li:nth-child(2){margin-right:30px}
#lmprimer .pagination>ul>li:last-child{margin-right:0}
#lmprimer .pagination>ul>li.active{font-size:16px;font-weight:600}
#lmprimer .pagination>ul>li:nth-child(1):after,#lmprimer .pagination>ul>li:nth-child(2):after{content:'';position:absolute;top:50%;width:25px;border-bottom:1px solid #000;margin:0 10px}


#lmprimer,#lmprimer.mainwrapper,#lmprimer .bg1,#lmprimer .bg2,#lmprimer .bg3,#lmprimer .lmcontent{height:100%}
#lmprimer{font-size:16px}
#lmprimer .bg1{background-color:#f5eeeb;background-image:url(../images/bg-land.svg);background-repeat:no-repeat;background-position:center center;background-attachment:fixed;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover}
.no-svg #lmprimer .bg1{background-image:url(../images/bg-land-1x.jpg)}
#lmprimer .bg2{background-color:#f5eeeb;background-image:url(../images/bg2-port.webp);background-repeat:no-repeat;background-position:center center;background-attachment:fixed;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover}
.no-webp #lmprimer .bg2{background-image:url(../images/bg2-port-1x.jpg)}
#lmprimer .bg3{background-color: #fff}
#lmprimer.mainwrapper{width:100%;margin:0 auto;clear:both;position:relative}
#lmprimer .resultbox{display:none}
#lmprimer .resultbox.selected{display:table;width:100%}
#lmprimer .resultbox .container{display:table-cell;vertical-align:middle}
#lmprimer .resultbox .inner-container{opacity:0;transition:all 0.5s ease-out;-moz-transition:all 0.5s ease-out;-webkit-transition:all 0.5s ease-out;-ms-transition:all 0.5s ease-out;margin-top:60px}
#lmprimer .resultbox .inner-container.ani{opacity:1;transition:all 0.5s ease-out;-moz-transition:all 0.5s ease-out;-webkit-transition:all 0.5s ease-out;-ms-transition:all 0.5s ease-out;margin-top:80px}
#lmprimer #slide-4.resultbox .inner-container{opacity:1;transition:all 0.5s ease-out;-moz-transition:all 0.5s ease-out;-webkit-transition:all 0.5s ease-out;-ms-transition:all 0.5s ease-out;margin-top:80px}
#lmprimer .inner-container{background:rgba(255,255,255,.8);margin:0 auto;max-width:1024px;padding:35px 35px}
#lmprimer .title{font-size:34px;color:#000;font-family:'Montserrat',sans-serif;font-weight:700;text-align:center;text-transform:uppercase}
#lmprimer #slide-4 .title{font-weight:400}
#lmprimer #slide-4 .title > span{font-weight:700;display: block}
#lmprimer .subtitle{font-size:21px;color:#000;font-family:'Montserrat',sans-serif;font-weight:400;text-align:center}
#lmprimer .desc{font-size:18px;color:#000;font-family:'Montserrat',sans-serif;font-weight:400;text-align:center}
#lmprimer .lmheader{background-color:#fff;border-bottom:1px solid #d1d1d1;position:absolute;width:100%;top:0;left:0;right:0;z-index:2}
#lmprimer .lmheader img{width:250px;display:block;margin:0 auto;text-align:center}
#lmprimer #slide-0 .title{padding:35px 0}
#lmprimer #slide-1 .title,#lmprimer #slide-2 .title{padding:20px 0}
#lmprimer #slide-1 .custom-radio .col-box{width:25%}
#lmprimer #slide-1 .custom-radio [type="radio"] + label{height:280px;position:relative}
#lmprimer #slide-1 .custom-radio [type="radio"] + label>span{position:absolute;bottom:10px;left:0;right:0}
#lmprimer #slide-1 .custom-radio .q1-dry + label,#lmprimer #slide-1 .custom-radio .q1-combi + label,#lmprimer #slide-1 .custom-radio .q1-normal + label,#lmprimer #slide-1 .custom-radio .q1-oily + label{-webkit-background-size:120%;-moz-background-size:120%;-o-background-size:120%;background-size:120%}
#lmprimer #slide-1 .custom-radio .q1-dry + label{background-image:url(../images/q1-dry.webp);background-repeat:no-repeat;background-position:0 -5px;background-color:#f3dde4}
#lmprimer #slide-1 .custom-radio .q1-combi + label{background-image:url(../images/q1-combi.webp);background-repeat:no-repeat;background-position:-15px -25px;background-color:#fedbcb}
#lmprimer #slide-1 .custom-radio .q1-normal + label{background-image:url(../images/q1-normal.webp);background-repeat:no-repeat;background-position:-15px -25px;background-color:#fde8dc}
#lmprimer #slide-1 .custom-radio .q1-oily + label{background-image:url(../images/q1-oily.webp);background-repeat:no-repeat;background-position:-15px -25px;background-color:#fef7ef}
.no-webp #lmprimer #slide-1 .custom-radio .q1-dry + label{background-image:url(../images/q1-dry-1x.png)}
.no-webp #lmprimer #slide-1 .custom-radio .q1-combi + label{background-image:url(../images/q1-combi-1x.png)}
.no-webp #lmprimer #slide-1 .custom-radio .q1-normal + label{background-image:url(../images/q1-normal-1x.png)}
.no-webp #lmprimer #slide-1 .custom-radio .q1-oily + label{background-image:url(../images/q1-oily-1x.png)}
#lmprimer #slide-2 .custom-radio .col-box{width:33.333333%}
#lmprimer #slide-2 .custom-radio [type="radio"] + label{height:100px;position:relative;background-color:#fff}
#lmprimer #slide-2 .custom-radio [type="radio"] + label>span{position:absolute;bottom:auto;left:0;right:0;top:50%;transform:translateY(-50%)}
#lmprimer #slide-2 .custom-radio .q2-pores + label{border:20px solid #e2c6c5}
#lmprimer #slide-2 .custom-radio .q2-dullness + label{border:20px solid #bac7cf}
#lmprimer #slide-2 .custom-radio .q2-dry + label{border:20px solid #f1eae0}
#lmprimer #slide-2 .custom-radio .q2-oily + label{border:20px solid #f4bca0}
#lmprimer #slide-2 .custom-radio .q2-spots + label{border:20px solid #d5d3e0}
#lmprimer #slide-2 .custom-radio .q2-ageing + label{border:20px solid #f0cbc5}


@media (max-width: 1280px) {
#lmprimer .inner-container{max-width:900px}
#lmprimer #slide-1 .custom-radio .q1-dry + label{background-position:0 0}
#lmprimer #slide-1 .custom-radio .q1-combi + label,#lmprimer #slide-1 .custom-radio .q1-normal + label,#lmprimer #slide-1 .custom-radio .q1-oily + label{background-position:-15px center}
}



@media (max-width: 767px) {
.row{margin-right:-8px;margin-left:-8px}
#lmprimer .lmheader img{width:200px}
#lmprimer .pagination{top:64px}
#lmprimer .btn-container>a{max-width:180px}
#lmprimer .inner-container{margin-top:64px;max-width:440px;padding:25px 15px}
#lmprimer .title{font-size:26px}
#lmprimer .subtitle{font-size:18px}
#lmprimer .custom-radio .col-box>div{margin-left:5px;margin-right:5px;margin-top:5px;margin-bottom:5px}
#lmprimer .custom-radio [type="radio"]:checked + label,#lmprimer .custom-radio [type="radio"]:not(:checked) + label{font-size:10px}
#lmprimer #slide-1 .custom-radio [type="radio"] + label{height:220px}
#lmprimer #slide-1 .custom-radio .q1-dry + label,#lmprimer #slide-1 .custom-radio .q1-combi + label,#lmprimer #slide-1 .custom-radio .q1-normal + label,#lmprimer #slide-1 .custom-radio .q1-oily + label{-webkit-background-size:140%;-moz-background-size:140%;-o-background-size:140%;background-size:140%}
#lmprimer #slide-1 .custom-radio .q1-combi + label,#lmprimer #slide-1 .custom-radio .q1-normal + label,#lmprimer #slide-1 .custom-radio .q1-oily + label{background-position:-15px center}
#lmprimer #slide-1 .custom-radio .q1-dry + label{background-position:0 center}
#lmprimer #slide-2 .custom-radio .col-box{width:50%}
#lmprimer #slide-2 .custom-radio [type="radio"] + label{height:80px}
#lmprimer #slide-2 .custom-radio .q2-pores + label{border:15px solid #e2c6c5}
#lmprimer #slide-2 .custom-radio .q2-dullness + label{border:15px solid #bac7cf}
#lmprimer #slide-2 .custom-radio .q2-dry + label{border:15px solid #f1eae0}
#lmprimer #slide-2 .custom-radio .q2-oily + label{border:15px solid #f4bca0}
#lmprimer #slide-2 .custom-radio .q2-spots + label{border:15px solid #d5d3e0}
#lmprimer #slide-2 .custom-radio .q2-ageing + label{border:15px solid #f0cbc5}
}

@media (max-width: 480px) {
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) { 
#lmprimer .inner-container{max-width:90%}
#lmprimer .inner-container{padding:35px 35px}
#lmprimer .subtitle{font-size:21px}
#lmprimer .title{font-size:34px}
#lmprimer .btn-container>a{max-width:320px}
#lmprimer .custom-radio [type="radio"]:checked + label,#lmprimer .custom-radio [type="radio"]:not(:checked) + label{font-size:14px}
#lmprimer #slide-1 .custom-radio .q1-dry + label,#lmprimer #slide-1 .custom-radio .q1-combi + label,#lmprimer #slide-1 .custom-radio .q1-normal + label,#lmprimer #slide-1 .custom-radio .q1-oily + label{-webkit-background-size:140%;-moz-background-size:140%;-o-background-size:140%;background-size:140%}
#lmprimer #slide-1 .custom-radio .q1-combi + label,#lmprimer #slide-1 .custom-radio .q1-normal + label,#lmprimer #slide-1 .custom-radio .q1-oily + label{background-position:-15px center}
#lmprimer #slide-1 .custom-radio .q1-dry + label{background-position:0 center}
}


@media (max-width: 480px) {
#lmprimer .inner-container{max-width:340px}
#lmprimer .title{font-size:21px}
#lmprimer .subtitle{font-size:16px}
#lmprimer .custom-radio [type="radio"]:checked + label,#lmprimer .custom-radio [type="radio"]:not(:checked) + label{font-size:9px}
#lmprimer #slide-1 .custom-radio .col-box{width:50%}
#lmprimer #slide-1 .custom-radio [type="radio"] + label{height:100px}
#lmprimer #slide-1 .custom-radio .q1-dry + label,#lmprimer #slide-1 .custom-radio .q1-combi + label,#lmprimer #slide-1 .custom-radio .q1-normal + label,#lmprimer #slide-1 .custom-radio .q1-oily + label{-webkit-background-size:75%;-moz-background-size:75%;-o-background-size:75%;background-size:75%}
#lmprimer #slide-1 .custom-radio .q1-dry + label,#lmprimer #slide-1 .custom-radio .q1-combi + label,#lmprimer #slide-1 .custom-radio .q1-normal + label,#lmprimer #slide-1 .custom-radio .q1-oily + label{background-position:center center}
#lmprimer .lmbtn.txtlink{position:relative;max-width:180px}
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait)
{ 
#lmprimer .custom-radio .col-box>div{margin-left:8px;margin-right:8px;margin-top:8px;margin-bottom:8px}
#lmprimer #slide-1 .custom-radio [type="radio"] + label{height:320px}
#lmprimer #slide-2 .custom-radio .col-box{width:50%}
#lmprimer #slide-2 .custom-radio [type="radio"] + label{height:120px}
}


@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape)
{ 
	
	
}




/*Retina iPad in portrait & landscape*/
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)
and (-webkit-min-device-pixel-ratio: 2) { 
#lmprimer .lmbtn.txtlink:before{background-image:url(../images/arrow-left-2x.png)}
.no-webp #lmprimer .bg2{background-image:url(../images/bg2-port-2x.jpg)}
.no-webp #lmprimer #slide-1 .custom-radio .q1-dry + label{background-image:url(../images/q1-dry-2x.png)}
.no-webp #lmprimer #slide-1 .custom-radio .q1-combi + label{background-image:url(../images/q1-combi-2x.png)}
.no-webp #lmprimer #slide-1 .custom-radio .q1-normal + label{background-image:url(../images/q1-normal-2x.png)}
.no-webp #lmprimer #slide-1 .custom-radio .q1-oily + label{background-image:url(../images/q1-oily-2x.png)}
}


/*Retina iPad in portrait*/
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2) { 
#lmprimer .bg1{background-image:url(../images/bg-port.svg)}
.no-svg #lmprimer .bg1{background-image:url(../images/bg-port-2x.jpg)}
}




/*Retina iPad in landscape*/
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio: 2) { 
#lmprimer .bg1{background-image:url(../images/bg-land.svg)}
.no-svg #lmprimer .bg1{background-image:url(../images/bg-land-2x.jpg)}
}






